@import url('https://fonts.googleeapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Poppins',sans-serif;
  
}
section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #d6d3d3;
}
section .circle{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #e51e2a;
    clip-path:circle(50% at right -5%);

}

header{
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    padding:40px 100px;
    display: flex;
    justify-content:space-between;
    align-items: center;
}
header .logo{
   
    max-width: 150px;
   
}
header .navigation{
    position: relative;
    display: flex;
}

header .navigation li{
   list-style: none;
}
header .navigation li a{
    display: inline-block;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px; 
    cursor: pointer;
    padding: 10px;
    border-radius: 50px;
    transition: background-color 0.3s;
 }
 .content{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
 }
 .content .textbox{
    position: relative;
    max-width: 600px;
    margin-right: 20px;
 }

 .content .textbox h2{
   color:#0b1c89 ;
   font-size: 5em;
   margin-bottom: 10px;
   line-height: 1em;
   font-weight: 700;
 }
 .content .textbox p{
    color:#111;
      }

  .content .textbox a{
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    background: #FFC436;
    border-radius: 40px;
    color: #fff;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
      
          }
    .sci{
        position: absolute;
        bottom: 25px;
        left: 10px;
        display: inline-block;
        margin: 20px;
        justify-content:center;
        align-items: center;
    }      
    .sci li{
        list-style: none;
       
    }
    .sci li a{
       display: inline-block;
   
       background: #fff;
       width: 50px;
       height: 50px;
      justify-content: center;
       align-items: center;
       border-radius: 50%;
       transition: 0.2s ease-in-out;
       margin-top: 5px;
    }
 .sci li a:hover{
    background: #fff;
    transform:translateY(-10px);
 }
 .sci li a svg{
    filter: invert(1);
    transform: scale(0.5);
   
     }

     /* slider*/
     .swiper-container{
        width:100%;
        padding-top: 50px;
        padding-bottom: 50px;
     }
     .swiper-slide{
        background-position: center;
        background-size: cover;
        width: 180px;
        height: 500px;
        display: flex;
        justify-content: center;
     }
     .content .imgBox{
        width: 700px;
        display: flex;
        justify-content: flex-end;
     }
     
     .swiper-slide img{
      position: absolute;
      bottom:0;
      max-height: 100%;
     }
     
    
         
     .swiper-container-3d .swiper-slide-shadow-left,
     .swiper-container-3d .swiper-slide-shadow-right{
      background-image: none;
     }

     header .navigation.active{
      position: fixed ;
      display: flex;
      top: 0;
      left:0;
      width: 100%;
      height: 100%;
      background: #e51e2a;
      z-index: 10;
      flex-direction: column;
      justify-content: center;
      align-items: center;
   
   }
   header li a:hover{
    background-color: #FFC436;
     
   }
   .textbox a:hover{
      background-color: #e51e2a;
   }
   
     @media(max-width:991px)
     {
      header{
         padding: 40px;
      }
      section{
         padding: 150px 40px;
      }
      .content{
        flex-direction: column;
      }
      .content .textBox,
      .content .imgBox
      {
         max-width: 100%;
      }
      .swiper-slide{
         height: 300px;
      }
       header .navigation{
         display: none;
      }
      .toggle{
       
         position: relative;
          width: 30px;
         height: 30px;
         background: url(pics/menu\ \(1\).png);
         background-size: 30px;
         background-repeat: no-repeat;
         background-position: center;
         cursor: pointer;
         z-index: 10000; 
        }
        .toggle.active{
         position: fixed;
         right: 40px;
         background: url(pics/x-button-icon-13.jpg);
         background-size: 25px;/*size of x*/
         background-repeat: no-repeat;
         background-position: center;
        }
        header .navigation li a{
         margin:10px 0;
         font-size: 1.5em;
         font-weight: 300;
        }
        
     }